<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Mission to Mars</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    </head>

    <body>
        <div class="container-fluid">
            <div class="jumbotron text-center">
                <h1>Mission to Mars</h1>
                <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Get Current Info</a></p>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h2>Top Red Planet Report</h2>
                    <!--News headline and tag goes here-->
                    <h3>{{ top_news_headline }}</h3>
                    <p>{{ top_news_brief }}</p>
                    
                    {% if vacation %}
                    <img src="{{ vacation.sloth_img }}" alt="Sloth">
                    <h2>The typical weather in Costa Rica is:</h2>
                    <h3>Max Temp: {{ vacation.max_temp }}</h3>
                    <h3>Min Temp: {{ vacation.min_temp }}</h3>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <!--Feature image goes here-->
                    <img src="{{ mars_data.feature_img }}" alt="Featured Image of Missions to Mars">
                </div>
                <div class="col-md-4">
                    <!--Facts table goes here-->
                    <table>Mars Facts</table>
                </div>

            <!--Hemisphere Photos Grid-->   
            <div class="row">
                <div class="col-md-12">
                    <div class="jumbotron text-center">
                        <h2>Hemisphere Phptos</h2>
                        <hr>
                    </div>
                </div>
            </div>   
            <div class="row">
                <div class="col-md-6">
                    <img src="Image1">
                </div>
                <div class="col-md-6">
                    <img src="Image2">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <img src="Image3">
                </div>
                <div class="col-md-6">
                    <img src="Image4">
                </div>
            </div>
        </div>
    </body>
</html>