<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Mission to Mars</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    </head>

    <body>
        <div class="container-fluid">
            <div class="jumbotron text-center">
                <h1>Mission to Mars</h1>
                <h2></h2>
                <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Get Current Info</a></p>
            </div>
            <div class="row">
                <div class="col-md-12">
                {% if marsinfo %}
                    <h2>Top Red Planet Report</h2>
                    <!--News headline and tag imported from mongo database-->
                    <h3>{{ marsinfo.headline }}</h3>
                    <p>{{ marsinfo.snipit }}</p>
                {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <h2>Featured Space Mission Photo</h2>
                    <!--Feature image goes here-->
                    <img src="{{ marsinfo.feature }}" alt="Featured Image of Space Missions" width="90%" height="90%">
                </div>
                    <!--Facts table goes here-->
                <div class="col-md-4">
                        <h2>Mars Fact Sheet</h2>
                    <table class="table">
                         <thead>
                            <tr style="text-align: right;">
                                <th></th>
                                <th>Data</th>
                                </tr>
                                    <tr>
                                        <th>Description</th>
                                        <th></th>
                                        </tr>
                            </thead>
                                      <tbody>
                                    <tr>
                                    <th>Equatorial Diameter:</th>
                                    <td>6,792 km</td>
                                    </tr>
                                        <tr>
                                        <th>Polar Diameter:</th>
                                            <td>6,752 km</td>
                                            </tr>
                                                <tr>
                                                    <th>Mass:</th>
                                    <td>6.39 × 10^23 kg (0.11 Earths)</td>
                                    </tr>
                                        <tr>
                                        <th>Moons:</th>
                                         <td>2 (Phobos &amp; Deimos)</td>
                                           </tr>
                                              <tr>
                                                       <th>Orbit Distance:</th>
                                        <td>227,943,824 km (1.38 AU)</td>
                                        </tr>
                                          <tr>
                                <th>Orbit Period:</th>
                                    <td>687 days (1.9 years)</td>
                                    </tr>
                                        <tr>
                                            <th>Surface Temperature:</th>
                                                <td>-87 to -5 °C</td>
                                               </tr>
                                                  <tr>
                                <th>First Record:</th>
                                    <td>2nd millennium BC</td>
                            </tr>
                                <tr>
                            <th>Recorded By:</th>
                                    <td>Egyptian astronomers</td>
                                    </tr>
                            </tbody>
                                
                    </table>
                </div>
            </div>

            <!--Hemisphere Photos Grid-->   
            <div class="row">
                <div class="col-md-12">
                    <div class="text-center">
                        <hr>
                        <h2>Hemisphere Photos</h2>
                        <hr>
                    </div>
                </div>
            </div>   

            <!--Put the photos in a for loop-->
            <div class="container-fluid">
                <div class="row">
                    {% for item in marsinfo.hemispheres %}
                    <div class="col-md-6">
                        <div class="card-deck">
                            <div class="card">
                                <h3 class="card-header">
                                    {{ item.title }}
                                </h3>
                                <div class="card-body">
                                    <img src="{{item.image_url}}" class="card-img-top" alt="Image of the {{item.title}}" width="75%" height="75%">
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </body>
</html>